/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital@0;1&family=Montserrat&family=Pacifico&family=Poppins:wght@400;500&display=swap');

/* Utilities */
.main-color {
    color: #562EFF
}

body {
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-blog {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    padding: 33px;
    width: 90%;
    border-radius: 5px;
}

.one {
    margin-top: 0px;
}

.top-player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 29px;
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.players {
    display: flex;
    align-items: center;
}

.players img {
    height: 56px;
    width: 56px;
}

hr {
    border: 1px solid #D1D1D1;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;

}




#minor-color {
    color: #9F9F9F;
}

.blog-info a {
    text-decoration: none;
    font-size: 16px;
}

.two {
    margin-top: 30px;
}

.blogs {
    display: flex;

}

.blogs img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.top-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px;

}

.latest-courses {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin-top: 21px;
}

.banner {
    width: 224px;
    height: 104px;
}